@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bar-height: 4px;
  --bar-width: 36px;
  --bar-gap: 6px;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--bar-gap) * 2);
  --animation-timing: 200ms ease-in-out;
}

.light {
  --text-primary: black;
  --text-secondary: blue;
  --bg-primary: white;
  --bg-secondary: black;
}

.dark {
  --text-primary: white;
  --text-secondary: blue;
  --bg-primary: black;
  --bg-secondary: white;
}

.red {
  --text-primary: black;
  --text-secondary: white;
  --bg-primary: pink;
  --bg-secondary: red;
}

.dessert {
  --text-primary: rgb(43, 45, 66);
  --text-secondary: rgb(169, 206, 244);
  --bg-primary: rgb(242, 226, 186);
  --bg-secondary: rgb(43, 45, 66);
}

.scroll-snap-type-y-mandatory {
  scroll-snap-type: y mandatory;
}

.scroll-snap-align-start {
  scroll-snap-align: start;
}

#hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);
  gap: var(--bar-gap);
}

#hamburger-menu::before,
#hamburger-menu::after,
#hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  border-radius: 9999px;
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing);
}

/* Add custom Tailwind classes using @apply */
#hamburger-menu::before,
#hamburger-menu::after {
  @apply bg-bgSecondary; /* Apply the bg color from Tailwind theme */
}

#hamburger-menu input:checked {
  width: 0;
  opacity: 0;
}

#hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

#hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

#sidebar {
  transition: translate var(--animation-timing);
  translate: -200%;
  padding-top: calc(var(--hamburger-height) + 3rem);
}

#hamburger-menu:has(input:checked) + #sidebar {
  translate: 0;
}

.controls {
  display: grid;
  place-items: center;
  aspect-ratio: 1 / 1;
  border-radius: 0.5rem;
  margin: 0px;
  padding: 0px;
}

.my-button {
  border-radius: 0.5rem;
  width: 3rem;
  height: 3rem;
  background: none;
  cursor: pointer;
}

.history-row:hover {
  cursor: pointer;
  border-radius: 1rem;
}

.history-row {
  padding: 1rem;
  border-bottom: solid;
}

.row-container {
  display: flex;
  flex-direction: column;
}

.text-box-container {
  display: flex;
  align-items: center;
  background-color: transparent;
  margin-bottom: 3px;
}

.my-bingo-button {
  padding: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}
