.roll-hist-bingo {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 4rem;
  width: 3rem;
  min-width: 2rem;
  font-weight: bold;
  border-radius: 10%;
  aspect-ratio: 1 / 1;
  border: 2px solid #121212;
  background-color: white;
  color: #121212;
}

.roll-hist-container {
  max-height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.board-row {
  max-width: 30rem;
  display: flex;
}

.bingo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: larger;
  font-weight: bold;
  border-radius: 10%;
  aspect-ratio: 1 / 1;
  border: 2px solid #121212;
  background-color: white;
  color: #121212;
}

.bingo:hover {
  cursor: pointer;
  animation: 1.5s hoverAnimation linear infinite;
  border: 2px solid #121212;
}

.roll-hist-bingo:hover {
  cursor: pointer;
  animation: 1.5s hoverAnimation linear infinite;
  border: 2px solid #121212;
}

@keyframes hoverAnimation {
  0% {
    transform: scale(1);
    rotate: 0deg;
  }
  25% {
    rotate: 5deg;
  }
  50% {
    transform: scale(1.2);
    rotate: 0deg;
  }
  75% {
    rotate: -5deg;
  }
  100% {
    transform: scale(1);
    rotate: 0deg;
  }
}

.highlight-obj {
  background-color: grey;
}

.current-roll {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  min-width: fit-content;
  font-weight: bold;
  border-radius: 10%;
  /* background-color: white; */
  aspect-ratio: 1 / 1;
  border: 2px solid #121212;
}

/* Define the animation */
@keyframes hintPulse {
  0% {
    transform: scale(1);
  }
  50% {
    background-color: #0d6efd;
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.hint-pulse {
  animation: hintPulse 1s ease-in-out;
}
