.hoverClass {
  transition: transform 0.3s ease-in-out;
}

.hoverClass:hover {
  transform: scale(1.05);
}

@media (max-width: 576px) {
  .sm-col-margin {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    /* margin-bottom: 1rem; */
  }
  .sm-justify-left {
    text-align: start;
  }
  .sm-padding-top {
    padding-top: 4rem;
  }
  .sm-photo-height {
    height: 25;
  }
}

@media (min-width: 992px) {
  .xl-screen-100vh {
    height: 100vh;
  }
}

@media (min-width: 576px) {
  .lg-center {
    text-align: center;
  }

  .lg-padding-top {
    padding-top: 2rem;
  }
}
