.snake-row {
  display: flex;
  width: 100%;
}

.custom-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  background-color: grey;
  aspect-ratio: 1 / 1;
  border: 1px solid white;
}

.active-cell {
  background-color: #121212;
}
