.history-row:hover {
  background-color: #0d6efd;
  cursor: pointer;
  border-color: #0d6efd;
  border-radius: 1rem;
}

.history-row {
  padding: 1rem;
  border-color: grey;
  border-bottom: solid;
}
