#board {
    border: 2px solid rgb(0, 0, 0);
    background-color: white;
}

.bingo:hover {
    cursor: pointer;
    animation: 1.5s hoverAnimation linear infinite;
}

@keyframes hoverAnimation {
    0%{
        transform: scale(1);
        rotate: 0deg;
    }       
    25%{
        rotate: 5deg;
        
    }
    50%{
        transform: scale(1.2);
        rotate: 0deg;
    }
    75%{
        rotate: -5deg;
    }
    100%{
        transform: scale(1);
        rotate: 0deg;
    }
}

.bingo {
   color: black;
   font-size: larger;
   text-align: center;
   border-radius: 5px;
   background-color: #DEE1E6;
   box-shadow: -4px 2px 8px 1px rgba(0,0,0,0.4);
}

div.highlight { 
   background-color: #7798AB; 
   color: white;
}

div.Free { 
    background-color: #7798AB; 
    color: white;
 }

.resetButton { 
    color: white;
    font-size: larger;
    border-radius: 5px;
    border: none;
    background-color: #7798AB;
    padding: 15px;
    margin: 10px auto 10px auto;
    display: flex;
    box-shadow: -4px 2px 8px 1px rgba(0,0,0,0.4);
}

.resetButton:hover{
    background-color: #1b383f;; 
    animation: .2s btnHover linear forwards;
}

@keyframes btnHover {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.025);
    }
    100%{
        transform: scale(1.05);
    }
}

.grid-offset{
    padding-left: calc((100% / 10) /2);
}