.board-row{
    display:flex;
    width: 90%;
}

.bingo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size:larger;
    font-weight: bold;
    border-radius: 10%;
    background-color: grey;
    aspect-ratio: 1 / 1; 
    border: 2px solid #121212;
    
}

.bingo:hover {
    cursor: pointer;
    animation: 1.5s hoverAnimation linear infinite;
    border: 2px solid #121212;
}

@keyframes hoverAnimation {
    0%{
        transform: scale(1);
        rotate: 0deg;
    }       
    25%{
        rotate: 5deg;
        
    }
    50%{
        transform: scale(1.2);
        rotate: 0deg;
    }
    75%{
        rotate: -5deg;
    }
    100%{
        transform: scale(1);
        rotate: 0deg;
    }
}



.highlight-obj { 
   background-color: white; 
}

.resetButton:hover{
    background-color: #1b383f;; 
    animation: .2s btnHover linear forwards;
}

@keyframes btnHover {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.025);
    }
    100%{
        transform: scale(1.05);
    }
}
