.board-row{
    display:flex;
    width: 100%;
}

.bingo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size:larger;
    border-radius: 5px;
    background-color: grey;
    aspect-ratio: 1 / 1; 
    margin: 2px;
    flex: 0 0 calc(20%-10px); 
}

.bingo:hover {
    cursor: pointer;
    animation: 1.5s hoverAnimation linear infinite;
}

@keyframes hoverAnimation {
    0%{
        transform: scale(1);
        rotate: 0deg;
    }       
    25%{
        rotate: 5deg;
        
    }
    50%{
        transform: scale(1.2);
        rotate: 0deg;
    }
    75%{
        rotate: -5deg;
    }
    100%{
        transform: scale(1);
        rotate: 0deg;
    }
}



div.highlight-obj { 
   background-color: #7798AB; 
   color: white;
}

.resetButton:hover{
    background-color: #1b383f;; 
    animation: .2s btnHover linear forwards;
}

@keyframes btnHover {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.025);
    }
    100%{
        transform: scale(1.05);
    }
}
