.message-window{
    margin-top: 12px;
    margin-bottom: 12px;
    padding-right: 0px;
    margin-right: 0px;
    
}

.message-window-container{
    color: white;
    flex: 2;
    background-color: grey;
    border-radius: 5%;
    margin: 0px 12px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;

}

.row-container{
    display: flex;
    flex-direction: column;
}

.chat-text-field{
    background-color: transparent !important;
    border-radius: 50%;
    border: 2px solid white;
    color: white !important;
    
}

::placeholder{
    color: grey !important;
}

.text-box-container{
    display: flex;
    align-items: center;
    background-color: transparent;
    margin-bottom: 3px;

}

.rounded-circle{
    border: none;
    background-color: transparent;
}